* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  color: #ffffff;
}

window#waybar {
  background: #1e1e1e;
  border-bottom: 2px solid #444;
}

#workspaces button {
  padding: 0 5px;
  color: #cccccc;
}
#workspaces button.focused {
  background: #444;
  color: #ffffff;
}

#clock, #battery, #custom-volume, #custom-brightness, #custom-weather {
  padding: 0 10px;
}

#custom-capslock.indicator-off, #custom-numlock.indicator-off {
  color: #444444;  /* darker, muted color */
}

#custom-capslock.indicator-on, #custom-numlock.indicator-on {
  color: #00c853; /* green */
  font-weight: bold;
}

